@import url(./mixin.scss);
.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
.row .col-1 {
  width: 8.3333333333%;
  padding: 10px;
}
.row .col-2 {
  width: 16.6666666667%;
  padding: 10px;
}
.row .col-3 {
  width: 25%;
  padding: 10px;
}
.row .col-4 {
  width: 33.3333333333%;
  padding: 10px;
}
.row .col-5 {
  width: 41.6666666667%;
  padding: 10px;
}
.row .col-6 {
  width: 50%;
  padding: 10px;
}
.row .col-7 {
  width: 58.3333333333%;
  padding: 10px;
}
.row .col-8 {
  width: 66.6666666667%;
  padding: 10px;
}
.row .col-9 {
  width: 75%;
  padding: 10px;
}
.row .col-10 {
  width: 83.3333333333%;
  padding: 10px;
}
.row .col-11 {
  width: 91.6666666667%;
  padding: 10px;
}
.row .col-12 {
  width: 100%;
  padding: 10px;
}

.btn {
  display: inline-block;
  padding: 8px 15px;
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  transition: all 0.3s ease-in-out;
  color: #ffffff !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

b {
  font-weight: 700;
}

/* ============ 1,Header ===========*/
.header {
  background: black;
  border-top: 2px solid #f46164;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .header__logo p a {
  color: white;
}
.header .container .header__menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .header__menu ul li {
  padding: 10px;
  height: 40px;
}
.header .container .header__menu ul li a {
  color: white;
  padding: 20px;
}
.header .container .header__menu ul li a:hover {
  background: white;
  color: red;
}

/* ============ 2,Feature ===========*/
.feature {
  padding: 20px 0 20px 0;
}
.feature .container .feature__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature .container .feature__content .feature__content-logo img {
  border: 0 none;
  width: 100px;
  vertical-align: middle;
  max-height: 100px;
  cursor: pointer;
}
.feature .container .feature__content .feature__content-search {
  display: flex;
  margin-right: 25px;
}
.feature .container .feature__content .feature__content-search input {
  width: 400px;
  border: 1px solid #dedede;
  border-radius: 0;
  color: #454545;
  height: 40px;
  padding: 5px;
}
.feature .container .feature__content .feature__content-search span .btn-search {
  background-color: #000;
  height: 40px;
  font-size: 14px;
  border: none;
}
.feature .container .feature__content .feature__content-search span .btn-search:hover {
  background-color: #f46164;
}

/* ============ 3,Navigation ===========*/
.navigation {
  background: #454545;
}
.navigation .container .navigation__menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation .container .navigation__menu ul li {
  text-align: center;
  padding: 20px;
}
.navigation .container .navigation__menu ul li a {
  padding: 20px;
  color: white;
  font-weight: 500;
}
.navigation .container .navigation__menu ul li a:hover {
  background: #f46164;
  transition: 0.3s all;
}

/* ============ 4,Detail ===========*/
.detail {
  margin-bottom: 100px;
}
.detail .container .detail__content {
  margin-top: 10px;
}
.detail .container .detail__content .title {
  font-size: 17px;
  text-transform: uppercase;
  color: #1a1a1a;
  border-bottom: 2px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}
.detail .container .detail__content .title span {
  font-size: 17px;
  background: black none repeat scroll 0 0;
  color: white;
  display: inline-block;
  padding: 9px 10px;
  position: relative;
  text-transform: uppercase;
}
.detail .container .detail__content .detail__order .form-inline {
  padding: 10px;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  margin-bottom: 15px;
}
.detail .container .detail__content .detail__order .form-inline .form-group {
  display: block;
  margin-bottom: 0;
}
.detail .container .detail__content .detail__order .form-inline .form-group label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.detail .container .detail__content .detail__order .form-inline .form-group input {
  margin-bottom: 0;
  min-width: 30%;
}
.detail .container .detail__content .detail__order .form-inline .form-group .form-control {
  color: #454545;
  font-size: 11px;
  height: 34px;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.detail .container .detail__content .detail__order .form-inline .form-group button {
  margin-bottom: 0;
  background-color: #f46164;
  border: none;
  font-size: 12px;
  border-radius: 4px;
}
.detail .container .detail__content .detail__order .detail__info h2 {
  font-size: 14px;
  margin: 10px 0;
}
.detail .container .detail__content .detail__order .detail__info .detail__table {
  min-height: 0.01%;
  overflow-x: auto;
}
.detail .container .detail__content .detail__order .detail__info .detail__table .table-mycart {
  border: 1px solid #ababab;
  background-color: #ffffff;
}
.detail .container .detail__content .detail__order .detail__info .detail__table .table-mycart thead {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fdfdfd 0%, #f4f4f4 100%) repeat scroll 0 0 !important;
  text-transform: uppercase;
  color: #454545;
}
.detail .container .detail__content .detail__order .detail__info .detail__table .table-mycart thead tr th {
  vertical-align: middle;
  border-bottom: 2px solid #ddd;
  padding: 8px;
  line-height: 1.42857143;
}
.detail .container .detail__content .detail__order .detail__info .detail__table .table-mycart tbody {
  margin-top: 100px;
}
.detail .container .detail__content .detail__order .detail__info .detail__table .table-mycart tbody .bar {
  text-align: center;
}
.detail .container .detail__content .detail__order .detail__info .detail__table .table-mycart tbody .bar td {
  vertical-align: middle;
  padding: 8px;
  line-height: 1.42857143;
  border-top: 1px solid #ddd;
}
.detail .container .detail__content .detail__order .detail__info .detail__table .table-mycart tbody .bar td a {
  color: #f46164;
  background-color: transparent;
}
.detail .container .detail__content .detail__order .detail__info .detail__table .table-mycart tbody .payment-info td {
  vertical-align: middle;
  padding: 8px;
  line-height: 1.42857143;
  border-top: 1px solid #ddd;
}
.detail .container .detail__content .detail__order .detail__info .detail__table .table-mycart tbody .payment-info td a {
  color: #f46164;
  background-color: transparent;
}
.detail .container .detail__content .detail__order .detail__info .detail__table .table-mycart tbody .payment-info .border-right .customer__content .customer__content-title {
  margin-bottom: 10px;
  margin-top: 10px;
  color: #f46164;
  font-weight: bold;
}
.detail .container .detail__content .detail__order .detail__info .detail__table .table-mycart tbody .payment-info .border-right .customer__content .customer__content-title span {
  border-bottom: 1px solid #f46164;
}
.detail .container .detail__content .detail__order .detail__info .detail__table .table-mycart tbody .payment-info .border-right b {
  font-weight: 700;
}
.detail .container .detail__content .detail__order .detail__info .detail__table .table-mycart tbody .payment-info .payment table tbody tr .text-left {
  border-top: none;
}
.detail .container .detail__content .detail__order .detail__info .detail__table .table-mycart tbody .payment-info .payment table tbody tr .text-right {
  border-top: none;
}
.detail .container .detail__content .detail__order .detail__info .detail__table .table-mycart tbody .payment-info .payment table tbody tr .text-right .total-payment {
  color: #f46164;
  font-size: 16px;
}
.detail .container .detail__content .detail__order .detail__info .detail__table .table-mycart tbody .payment-info .payment table tbody .order-stt {
  background-color: #f46164;
  color: #ffffff;
  text-align: center;
}
.detail .container .detail__content .detail__order .detail__info .detail__table .table {
  margin-bottom: 0;
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

/* ============ 5,Footer ===========*/
.footer {
  margin-top: 20px;
}
.footer .container .footer__content {
  display: flex;
  justify-content: space-between;
}
.footer .container .footer__content .footer__content-intro {
  width: 33.3333%;
}
.footer .container .footer__content .footer__content-intro h2 {
  margin-bottom: 20px;
}
.footer .container .footer__content .footer__content-intro ul li {
  margin-bottom: 20px;
}
.footer .container .footer__content .footer__content-intro ul li a {
  color: #000;
}
.footer .container .footer__content .footer__content-intro ul li a:hover {
  color: #f46164;
}
.footer .container .footer__content .footer__content-intro ul li i {
  margin-right: 5px;
}
.footer .container .footer__content .footer__content-help {
  width: 33.3333%;
}
.footer .container .footer__content .footer__content-help h2 {
  margin-bottom: 20px;
}
.footer .container .footer__content .footer__content-help ul li {
  margin-bottom: 20px;
}
.footer .container .footer__content .footer__content-help ul li i {
  margin-right: 5px;
}
.footer .container .footer__content .footer__content-social h2 {
  margin-bottom: 30px;
}
.footer .container .footer__content .footer__content-social ul {
  display: flex;
  align-items: center;
}
.footer .container .footer__content .footer__content-social ul li {
  display: block;
  margin-right: 10px;
}
.footer .container .footer__content .footer__content-social ul li a {
  border: 1px solid #f46164;
  border-radius: 4px;
  padding: 10px;
  background-color: #f46164;
}
.footer .container .footer__content .footer__content-social ul li a:hover {
  background-color: white;
  border: white 1px solid;
  transition: 0.3s all;
}
.footer .container .footer__content .footer__content-social ul li a:hover i {
  color: #f46164;
}
.footer .container .footer__content .footer__content-social ul li a i {
  color: white;
}
