@import url(../sass/mixin.scss);
.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
.row .col-1 {
  width: 8.3333333333%;
  padding: 10px;
}
.row .col-2 {
  width: 16.6666666667%;
  padding: 10px;
}
.row .col-3 {
  width: 25%;
  padding: 10px;
}
.row .col-4 {
  width: 33.3333333333%;
  padding: 10px;
}
.row .col-5 {
  width: 41.6666666667%;
  padding: 10px;
}
.row .col-6 {
  width: 50%;
  padding: 10px;
}
.row .col-7 {
  width: 58.3333333333%;
  padding: 10px;
}
.row .col-8 {
  width: 66.6666666667%;
  padding: 10px;
}
.row .col-9 {
  width: 75%;
  padding: 10px;
}
.row .col-10 {
  width: 83.3333333333%;
  padding: 10px;
}
.row .col-11 {
  width: 91.6666666667%;
  padding: 10px;
}
.row .col-12 {
  width: 100%;
  padding: 10px;
}

.btn {
  display: inline-block;
  padding: 8px 15px;
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  transition: all 0.3s ease-in-out;
  color: #ffffff !important;
}

/* ============ 1,Header ===========*/
.header {
  background: #191414;
  border-top: 2px solid #b8aeae;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .header__logo p a {
  color: white;
}
.header .container .header__menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .header__menu ul li {
  padding: 10px 20px;
  height: 40px;
}
.header .container .header__menu ul li a {
  color: white;
  padding: 7px 18px;
}
.header .container .header__menu ul li a:hover {
  background: white;
  color: red;
}

/* ============ 2,Feature ===========*/
.feature {
  padding: 20px 0 20px 0;
}
.feature .container .feature__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature .container .feature__content .feature__content-logo img {
  border: 0 none;
  width: 100px;
  vertical-align: middle;
  max-height: 100px;
  cursor: pointer;
}
.feature .container .feature__content .feature__content-search {
  display: flex;
  margin-right: 25px;
}
.feature .container .feature__content .feature__content-search input {
  width: 400px;
  border: 1px solid #dedede;
  border-radius: 0;
  color: #454545;
  height: 40px;
  padding: 5px;
}
.feature .container .feature__content .feature__content-search span .btn-search {
  background-color: #000;
  height: 40px;
  font-size: 14px;
  border: none;
}
.feature .container .feature__content .feature__content-search span .btn-search:hover {
  background-color: #f46164;
}

/* ============ 3,Navigation ===========*/
.navigation {
  background: #000000;
}
.navigation .container .navigation__menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation .container .navigation__menu ul li {
  text-align: center;
  padding: 20px;
}
.navigation .container .navigation__menu ul li a {
  padding: 19px 35px;
  color: white;
  font-weight: 500;
}
.navigation .container .navigation__menu ul li a:hover {
  background: #ffffff;
  color: black;
  transition: 0.3s all;
}


.info-header-title{
  padding: 36px 0 0;
}
.info-header{
  background-color: #f5f5f5;
  padding-bottom: 70px;
}
.info-header-title{
  text-align: center;
  margin-top: 65px;
  margin-bottom: 49px;
}
.info-title-p{
  opacity: 0.6;
  font-style: italic;
  margin-top: 10px;
}

.blog-list{
  display:flex;

}
.blog-list .blog-item1{
  width:350px;
  margin-left:190px;
  background-color: white;
  overflow: hidden;
}
.blog-list .blog-item2{
  width:350px;
  margin:0 45px;
  background-color: white;
  overflow: hidden;
}
.blog-list .blog-item3{
  width:350px;
  background-color: white;
  overflow: hidden;
}
.blog-body{
  margin-top: 10px;
}
.blog-img{
  width:100%;
  height: 262px;
  border-radius: 5px;
  transform: scale(1);
  transition: all 0.5s;
}
.blog-img:hover{
  transform: scale(1.1);
}
/* ============ 4,Slide Product ===========*/
.slider {
  height: 600px;
}

/* ============ 5,Catalog ===========*/
.catalog {
  margin-top: 20px;
}
.catalog .container .catalog__title {
  margin-bottom: 20px;
}
.catalog .container .catalog__title h3 {
  border-bottom: 2px solid #f46164;
  margin-bottom: 0;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 30px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}
.catalog .container .catalog__title h3 span {
  background: #f46164 none repeat scroll 0 0;
  color: #ffffff;
  display: inline-block;
  font-size: 17px;
  padding: 9px 10px;
  position: relative;
  text-transform: uppercase;
}
.catalog .container .catalog__content {
  display: flex;
  flex-wrap: wrap;
}
.catalog .container .catalog__content .catalog__content-item {
  width: 33.333%;
  text-align: center;
  margin-bottom: 20px;
}
.catalog .container .catalog__content .catalog__content-item .item__img{
  overflow: hidden;
}

.catalog .container .catalog__content .catalog__content-item .item__img a img {
  max-height: 350px;
  width: 275px;
  transition: all 1s;
}
.catalog .container .catalog__content .catalog__content-item .item__img a img:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.catalog .container .catalog__content .catalog__content-item .item__info {
  margin-top: 10px;
}
.catalog .container .catalog__content .catalog__content-item .item__info .item__info-name {
  font-weight: 500;
  color: #000;
}
.catalog .container .catalog__content .catalog__content-item .item__info .item__info-name:hover {
  color: #f46164;
}
.catalog .container .catalog__content .catalog__content-item .item__info span {
  display: block;
  padding: 5px 0 15px 0;
  color: #f46164;
}
.catalog .container .catalog__content .catalog__content-item .item__info .btn-add {
  padding: 10px 20px;
  border: 1px solid red;
  border-radius: 4px;
  color: #f46164;
}
.catalog .container .catalog__content .catalog__content-item .item__info .btn-add:hover {
  color: #ffffff;
  background-color: #f46164;
  transition: 0.3s all;
}

/* ============ 6,Policy ===========*/
.policy {
  margin: 20px 0 30px 0;
}
.policy .container .policy__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.policy .container .policy__content .policy__content-item {
  display: flex;
  align-items: center;
  border: 1px black solid;
  color: white;
  font-size: 16px;
  background-color: black;
  border-radius: 6px;
  padding: 20px;
}
.policy .container .policy__content .policy__content-item i {
  font-size: 30px;
  margin-right: 5px;
}

/* ============ 7,Footer ===========*/
.footer {
  margin-top: 20px;
}
.footer .container .footer__content {
  display: flex;
  justify-content: space-between;
}
.footer .container .footer__content .footer__content-intro {
  width: 33.3333%;
}
.footer .container .footer__content .footer__content-intro h2 {
  margin-bottom: 20px;
}
.footer .container .footer__content .footer__content-intro ul li {
  margin-bottom: 20px;
}
.footer .container .footer__content .footer__content-intro ul li a {
  color: #000;
}
.footer .container .footer__content .footer__content-intro ul li a:hover {
  color: #f46164;
}
.footer .container .footer__content .footer__content-intro ul li i {
  margin-right: 5px;
}
.footer .container .footer__content .footer__content-help {
  width: 33.3333%;
}
.footer .container .footer__content .footer__content-help h2 {
  margin-bottom: 20px;
}
.footer .container .footer__content .footer__content-help ul li {
  margin-bottom: 20px;
}
.footer .container .footer__content .footer__content-help ul li i {
  margin-right: 5px;
}
.footer .container .footer__content .footer__content-social h2 {
  margin-bottom: 30px;
}
.footer .container .footer__content .footer__content-social ul {
  display: flex;
  align-items: center;
}
.footer .container .footer__content .footer__content-social ul li {
  display: block;
  margin-right: 10px;
}
.footer .container .footer__content .footer__content-social ul li a {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  background-color: black;
}
.footer .container .footer__content .footer__content-social ul li a:hover {
  background-color: white;
  border: white 1px solid;
  transition: 0.3s all;
}
.footer .container .footer__content .footer__content-social ul li a:hover i {
  color: #f46164;
}
.footer .container .footer__content .footer__content-social ul li a i {
  color: white;
}
