<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment = "_feature_">
    <div class="feature">
        <div class="container">
            <div class="feature__content">
                <div class="feature__content-logo">
                    <img src="images/anh-logo.jfif" alt="">
                </div>

                <div class="feature__content-search">
                    <input type="text" placeholder="Tìm kiếm ....">
                    <span class="input-group-btn">
              <button class="btn btn-search" title="Search" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </span>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>