<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment = "_footer_">
    <div class="footer">
        <div class="container">
            <div class="footer__content">
                <div class="footer__content-help">
                    <h2>HỖ TRỢ</h2>
                    <ul>
                        <li><i class="fas fa-question"></i> Hướng dẫn thanh toán</li>
                        <li><i class="fas fa-reply"></i> Quy định đổi trả</li>
                        <li><i class="fas fa-shield-alt"></i> Chính sách bảo mật</li>
                        <li><i class="fas fa-tshirt"></i> Chính sách bán hàng</li>
                    </ul>
                </div>

                <div class="footer__content-intro">
                    <h2>GIỚI THIỆU</h2>
                    <ul>
                        <li><i class="fas fa-map-marker"></i> 1 Võ Văn Ngân, Linh Chiểu, Thủ Đức, Thành phố Hồ Chí Minh
                        </li>
                        <li><i class="fas fa-phone-alt"></i> 0903 113 114</li>
                        <li><i class="fas fa-envelope"></i><a href="">admin@gmail.com</a></li>
                        <li><i class="fas fa-globe-asia"></i> <a
                                href="http://127.0.0.1:5500/FE/trang-chu.html">http://127.0.0.1:5500/FE/trang-chu.html</a>
                        </li>
                    </ul>
                </div>

                <div class="footer__content-social">
                    <h2>MẠNG XÃ HỘI</h2>
                    <ul>
                        <li><a href="facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="instagam.com"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="gmail.com"><i class="fab fa-google"></i></a></li>
                        <li><a href="youtube.com"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>