<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment = "_header_">
    <div class="header">
        <div class="container">
            <div class="header__logo">
                <p><a href="">Hotline: 0903 113 114</a></p>
            </div>
            <div class="header__menu">
                <ul>
                    <li><a th:href="@{/user/checkorder}"><i class="fas fa-pen-square"></i> Kiểm tra đơn hàng</a></li>
                    <li><a th:href="@{/user/cart}"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>
                    <div th:switch="${#request.userPrincipal}">
                        <div style="display:flex;" th:case="null">
                            <li><a th:href="@{/login}" methods="GET"><i class="fa fa-sign-in"></i> Đăng nhập</a></li>
                            <li><a th:href="@{/signup}"><i class="fa fa-key"></i> Đăng ký</a></li>
                        </div>
                        <div style="display: flex " th:case="*">
                            <li><a th:text="${#request.userPrincipal.getName()}"></a></li>
                            <li><a th:href="@{/logout}">Logout</a></li>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>