<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment = "_nav-admin_">
    <div class="navigation">
        <div class="container">
            <div class="navigation__menu">
                <ul>
                    <li><a th:href="@{/admin/order}">ĐƠN HÀNG</a></li>
                    <li><a th:href="@{/admin/product}">QL SẢN PHẨM</a></li>
                    <li><a th:href="@{/admin/sales}">DOANH THU</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>