<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/reSources/style/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/reSources/style/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/reSources/style/adminPage.css}">
    <title>ADMIN PAGE</title>
</head>

<body>
<div th:replace="_header::_header_"></div>
<div th:replace="_feature::_feature_"></div>

<!-- Start Navigation -->
<div th:replace="_nav-admin::_nav-admin_"></div>
<!-- End Navigation -->

<!-- start List Account Staff -->
<div class="listAccountStaff">
    <div class="container my-2">
        <div class="account">
            <div class="account-body">
                <div th:switch="${accounts}" class="container my-5">
                    <p class="my-5">
                        <a th:href="@{/admin/nhanvien/add}" class="btn btn-primary"><i
                                class="fas fa-user-plus ml-2">Thêm Nhân Viên</i></a>
                    </p>
                    <div class="col-md-10">
                        <h2 th:case="null">Không có nhân viên</h2>
                        <div th:case="*">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Ten NV</th>
                                    <th>Email Dang Nhap</th>
                                    <th>Số Điện Thoại</th>
                                    <th>Địa chỉ</th>
                                    <th>Chi tiết</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="account : ${accounts}">
                                    <td th:text="${account.id}"></td>
                                    <td th:text="${account.userInfo.userName}"></td>
                                    <td th:text="${account.email}"></td>
                                    <td th:text="${account.userInfo.phone}"></td>
                                    <td th:text="${account.userInfo.address}"></td>
                                    <td><a th:href="@{/nhanvien/edit/{id}(id=${account.id})}"
                                           class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<hr>
<div th:replace="_footer::_footer_"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="./js/script.js"></script>
<script src="./js/owl.carousel.min.js"></script>

</html>