<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" th:href="@{/vendors/style/owl.carousel.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/vendors/style/font-awesome.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/vendors/style/owl.theme.default.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/reSources/style/style.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/reSources/style/reset.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/reSources/style/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/reSources/style/blog.css}">

  <title>Cửa hàng bán đồ gia dụng </title>
</head>

<body>
<div th:replace="_header::_header_"></div>
<div th:replace="_feature::_feature_"></div>
<div th:replace="_navigation::_navigation_"></div>

<div class="humberger__menu__wrapper">


  <div id="mobile-menu-wrap"></div>
  <div class="humberger__menu__about">
    <div class="humberger__menu__title sidebar__item__title">
      <h6>About me</h6>
    </div>
    <img src="img/humberger/humberger-about.jpg" alt="">
    <h6>Hi every one! I,m Lena Mollein.</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="humberger__menu__about__social sidebar__item__follow__links">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-youtube-play"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-envelope-o"></i></a>
    </div>
  </div>
  <div class="humberger__menu__subscribe">
    <div class="humberger__menu__title sidebar__item__title">
      <h6>Subscribe</h6>
    </div>
    <p>Subscribe to our newsletter and get our newest updates right on your inbox.</p>
    <form action="#">
      <input type="text" class="email-input" placeholder="Your email">
      <label for="agree-check">
        I agree to the terms & conditions
        <input type="checkbox" id="agree-check">
        <span class="checkmark"></span>
      </label>
      <button type="submit" class="site-btn">Subscribe</button>
    </form>
  </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->

<!-- Header Section End -->

<!-- About Section Begin -->
<section class="about spad">
  <div class="container">
    <div class="about__text">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb__text">
            <h2>About me</h2>
            <div class="breadcrumb__option">
              <a href="#">Home</a>
              <span>About</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="about__pic__item__large">
            <img src="images/blog-1.jpg" alt="">
          </div>
          <div class="about__pic">
            <div class="about__pic__item">
              <img src="images/blog-2.jpg" alt="">
            </div>
            <div class="about__pic__item">
              <img src="images/blog-3.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about__right__text">
            <h2>Hello every one !!!</h2>
            <p>Việc chăm sóc da thông thường bằng các biện pháp bên ngoài chỉ giúp làm sạch phần bề mặt, tuy nhiên nhiều bạn lại không chú trọng việc thanh lọc cơ thể từ sâu bên trong. Vậy nên, hôm nay hãy cùng detox cơ thể hiệu quả với công
              thức làm nước ép cần tây - dưa chuột - cà rốt nhé!.</p>
            <ul>
              <li>Cà rốt rửa sạch, gọt vỏ, cắt miếng nhỏ dài.</li>
              <li>Dưa chuột ngâm với nước muối loãng trong thời gian 10 phút rồi rửa sạch lại với nước, cắt miếng vừa vặn.</li>
              <li>Rau cần tây rửa sạch, cắt khúc. Khởi động máy ép, ép các nguyên liệu theo hình thức xen kẽ cho tới khi thu được thành phẩm cuối cùng. Có thể thêm mật ong để món nước ép đậm vị, uống ngon hơn nhé!</li>
              <li>Món nước ép này có vị thanh mát, giúp detox cơ thể hiệu quả, ngoài ra còn sử dụng như một món nước uống giúp giải nhiệt trong những ngày oi nóng.</li>
            </ul>
            <p>Thêm một lưu ý nữa là các bạn nên sử dụng máy ép chậm thay vì các loại máy ép nhanh ly tâm. Một dòng sản phẩm đang được ưa chuộng trên thị trường hiện nay là máy ép chậm Olivo SJ210 với nhiều tính năng ưu việt. Máy thuộc phân
              khúc cao cấp, có thiết kế gọn, trang nhã. Ống tiếp nhiên liệu khủng, dễ dàng đưa hoa quả vào mà không cần cắt quá nhỏ. Thành phẩm thu được có độ tinh khiết cao, giữ nguyên được hàm lượng các vitamin.
            </p>
            <div class="about__right__text__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="policy">
  <div class="container">
    <div class="policy__content">
      <div class="policy__content-item">
        <i class="fas fa-sync-alt"></i> HOÀN TRẢ TRONG 30 NGÀY
      </div>
      <div class="policy__content-item">
        <i class="fas fa-truck"></i> GIAO HÀNG TẬN NHÀ
      </div>
      <div class="policy__content-item">
        <i class="fas fa-money-bill-wave"></i> THANH TOÁN LINH HOẠT
      </div>
      <div class="policy__content-item">
        <i class="fas fa-users"></i> HỖ TRỢ NHANH CHÓNG
      </div>
    </div>
  </div>
</div>

<!-- End Policy -->
<hr>
<div th:replace="_footer::_footer_"></div>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/reSources/js/script.js"></script>
<script src="/vendors/js/owl.carousel.min.js"></script>

</html>