<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" th:href="@{/reSources/style/kiemtradonhang.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/style/owl.carousel.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/style/owl.theme.default.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/reSources/style/reset.css}">
    <title>Kiểm tra đơn hàng</title>

</head>

<body>
<div th:replace="_header::_header_"></div>
<div th:replace="_feature::_feature_"></div>


<!-- Start Order -->
<div class="order">
    <div class="container">
        <div class="order__content">
            <h3 class="title">
                <span>Kiểm tra đơn hàng</span>
            </h3>
        </div>

        <div class="detail__order">
            <form class="form-inline" th:action="@{user/detailorder}">
                <div class="form-group">
                    <label>Nhập mã đơn hàng</label>
                    <input type="text" class="form-control" placeholder="Mã số đơn hàng (VD:OD001)"
                           required="required">
                    <button class="btn btn-primary">Xem ngay</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Order -->

<div th:replace="_footer::_footer_"></div>
</body>

</html>