<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ĐĂNG NHẬP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords"
          content="Official Signup Form Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script
            type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <!-- /fonts -->
    <!-- css -->
    <link th:href="@{/vendors/style/font-awesome.min.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/reSources/style/sign-up.css}" rel="stylesheet" type="text/css" media="all" />
    <!-- /css -->
</head>

<body>

<div class="content-w3ls">
    <div class="content-agile1">
        <h2 class="agileits1">Official</h2>

    </div>

    <div class="content-agile2">
        <h3 class="w3ls">Đăng nhập tài khoản</h3>
        <form th:action="@{/login}" method="post">

            <div class="form-control w3layouts">
                <input type="email" id="email" name="email" placeholder="mail@example.com"
                       title="Please enter a valid email" required="true">
            </div>

            <div class="form-control agileinfo">
                <input type="password" class="lock" name="password" placeholder="Password" id="password"
                       required="true">
            </div>

            <input type="submit" class="register" value="Đăng nhập">
        </form>
        <p class="sign-up-form">Chưa có tài khoản đăng kí <a href="/signup">tại đây</a></p>
        <p class="wthree w3l">Đăng nhập nhanh bằng</p>
        <ul class="social-agileinfo wthree2">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
</body>

</html>